<div class="drawer bg-transparent fixed z-10 w-auto">
  <input id="my-drawer" type="checkbox" class="drawer-toggle menu-btn" />
  <div class="drawer-content p-4 bg-transparent">
    <!-- Page content here -->
    <label for="my-drawer" class="btn btn-transparent drawer-button"
      ><i class="material-icons">menu</i></label
    >
  </div>
  <div class="drawer-side">
    <label for="my-drawer" class="drawer-overlay"></label>
    <ul class="menu p-8 overflow-y-auto w-80 bg-base-100 text-base-content">
      <li>
        <label for="my-drawer" class="btn btn-transparent drawer-button"
          >Close</label
        >
      </li>
      <!-- Sidebar content here -->
      <li><a>Sidebar Item 1</a></li>
      <li><a>Sidebar Item 2</a></li>
    </ul>
  </div>
</div>
