<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body>
    <%- include('../components/navbar'); %>

    <div class="banner relative">
      <img
        src="https://www.visitarizona.com/imager/s3_us-west-1_amazonaws_com/aot-2020/images/3D-Images/homepage-toro-complete_b2b0b89039603b931027eb2900b66531.jpg"
        alt="The Grand Canyon"
        class="min-w-full min-h-300 h-33 object-cover"
      />
      <h1
        class="absolute inset-0 grid place-items-center text-9xl text-white font-bold"
      >
        Yes We Canyon
      </h1>
    </div>

    <div class="container bg-white w-full">
      <!-- <h1 class="text-black text-2xl">Welcome to Arizona</h1> -->
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </body>
</html>
